# Purpose: Ignore files that are not necessary to be tracked by git

# Ignore Test Files

new.py
new2.py
telegramapitest.py
test_offset.py


# Ignore Python byte code
__pycache__/
*.pyc[cod]

# Ignore environment variables
.env
keys.env

# Ignore Config File
config.py

# Ignore .vscode files
.vscode/

# Ignore virtual environment
.venv/